@model InterviewSystem.Web.ViewModels.Home.AboutViewModel
@{
    ViewBag.Title = "About Page";
}
<h1>Roles</h1>

<ul>
    <li>Candidate</li>
    <li><b>HR</b>: hr@yahoo.com / Didi*123</li>
    <li><b>Senior Developer</b>: senior@yahoo.com / Didi*123</li>
    <li><b>Support Person</b>: support@yahoo.com / Didi*123</li>
    <li><b>Technical Lead</b>: technical@yahoo.com / Didi*123</li>
</ul>
