@model InterviewSystem.Web.ViewModels.Home.AdministrationViewModel
@{
    ViewBag.Title = "Administration Panel";
}

@if (HttpContext.Current.User.IsInRole("Senior Developer"))
{
    <div class="row">@Html.ActionLink("Manage Questions", "Index", "Questions", new { area = string.Empty }, null)</div>
}

@if (HttpContext.Current.User.IsInRole("Technical Lead"))
{
    <div class="row">@Html.ActionLink("Generate a test", "Index", "Questionnaire", new { area = string.Empty }, null)</div>
}
